<h1><%= @greeting %>, <%= @zombie.name %></h1>

<p>
Your decomp state is now <%= @zombie.decomp %> and your last tweet was: <%= @last_tweet.body %>
</p>

<%= link_to "View your profile", zombie_url(@zombie) %>
